.grad{
    border: 1px solid black;
    height: 200px;
    width: 150px;
    background-image: linear-gradient(red, blue);
    background-image: linear-gradient(to right, red, blue);
    background-image: linear-gradient(to bottom right, red, blue);

}